@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#43726D];
  }
}

@layer components {
  .hoverEffect {
    @apply hover:bg-[#181818] rounded-full cursor-pointer transition duration-300;
  }
}

.placeholder-color::placeholder {
  color: #c4c595;
}

/* .calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-grid {
  transform: scale(3);
  transform-origin: top left;
  margin-top: 20px; /* Add margin top as desired */

.calendar-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add desired spacing between form elements */
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="datetime-local"] {
  width: 250px; /* Adjust the width as desired */
}
